.header {
    &-fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: green;
        z-index: 3;

        .container {
            background: gray;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .nav {
        display: flex;
        flex: 1;
        align-items: center;
    }

    .items {
        display: flex;
        list-style: none;
        flex: 1;
        justify-content: center;
        background: aqua;
    }

    .item {
        padding: 30px 17px;
    }

    .btn {
        text-align: center;
    }
}